<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synapse.gofer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="com.synapse.gofer.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.synapse.gofer.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!--
ProjectID : peak-sorter-512
Project Number: 30138520990
    -->
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.synapse.gofer.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Main activity. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="tutorial-activity"
                    android:scheme="goferapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ContactActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SinupOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PaypalWebviewAcivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".karmaquestion"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- AIzaSyB2zai8w9PGhtS4UU7pRUhCftmvtvduph4 -->
        <!-- AIzaSyCPHQ6ymSfFx43Qv66cVuLWTCLlWNytTew -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB2zai8w9PGhtS4UU7pRUhCftmvtvduph4" />

        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProfilePhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FindGoferActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RateProviderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewJobsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisputeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".JobImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.synapse.contact.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.synapse.contact.ContactEditDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.gofer.rating.RatingProviderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gofer.rating.RatingCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gofer.rating.RatingQuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityForMarkerClick"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendMessageActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.GPSLoggerService" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.synapse.backgroud.MapUpdateService"
            android:enabled="true" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.synapse.gofer" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />

        <activity
            android:name=".PayPalDetailsActivity"
            android:label="@string/title_activity_pay_pal_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StripeRegistrationActivity"
            android:label="Stripe Registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BankDetailsActivity"
            android:label="@string/title_activity_bank_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EditUserProfile"
            android:label="@string/title_activity_edit_user_profile" >
        </activity>
        <activity
            android:name="com.paypal.android.MEP.PayPalActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".AddressFormActivity"
            android:label="@string/title_activity_address_form"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ParentActivity"
            android:label="@string/title_activity_parent" >
        </activity>
    </application>

</manifest>